language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-missing-variable-declarations -Wno-padded -Wno-unused-parameter -Wno-shadow main.cpp && ./a.out"
